// 結構與樣式分離 OOCSS
.header {
    background-color: $primary;
}

.navbar {
    display: flex;
    flex-direction: column;

    @include pad {
        flex-direction: row;
        align-items: center;
        padding: 30px 39px;
    }

    @include pc {
        padding: 30px 88px;
    }
}

.nav-logo {
    padding: 10px 0;

    @include pad {
        padding: 0;
        margin-right: auto;
    }

    h1 {
        width: 48px;
        height: 30px;
        background-image: url("../img/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        @include pad {
            width: 80px;
            height: 50px;
        }
        // Hide Text
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;

    @include pad {
        flex-wrap: nowrap;
    }
}

.nav-item {
    border: 1px solid #fff;
    width: 50%;

    @include pad {
        border: none;
    }
}

.nav-link {
    display: block;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    padding: 8px 0;
    &:hover {
        opacity: 0.7;
    }

    @include pad {
        white-space: nowrap;
        padding: 8px 20px;
    }

    @include pc {
        padding: 8px 32px;
    }
}