// 我試著先稍微的拆分，主要還是採用區塊的方式去撰寫樣式
.header {
    background-color: $primary;
}

.navbar {
    display: flex;
    flex-direction: column;

    @include pad {
        flex-direction: row;
        align-items: center;
        padding: 30px 39px;
    }

    @include pc {
        padding: 30px 88px;
    }
}

.nav-logo {
    padding: 10px 0;

    @include pad {
        padding: 0;
        margin-right: auto;
    }

    h1 {
        width: 48px;
        height: 30px;
        background-image: url("../img/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        @include pad {
            width: 80px;
            height: 50px;
        }
        // Hide Text
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;

    @include pad {
        flex-wrap: nowrap;
    }
}

.nav-item {
    border: 1px solid #fff;
    width: 50%;

    @include pad {
        border: none;
    }
}

.nav-link {
    display: block;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    padding: 8px 0;
    &:hover {
        opacity: 0.7;
    }

    @include pad {
        white-space: nowrap;
        padding: 8px 20px;
    }

    @include pc {
        padding: 8px 32px;
    }
}

.banner {
    // 設定背景時，要順便給高度，才不會沒有圖。
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 394px;
    @include pad {
        height: 840px;
    }
}
.banner__content {
    text-align: right;
    font-size: 3.2rem;
    color: $secondary;
    @include pad {
        font-size: 4.8rem;
    }
    @include pad {
        font-size: 6.4rem;
    }
    span {
        font-size: 1.6rem;
        @include pad {
            font-size: 2rem;
        }
        @include pc {
            font-size: 3.6rem;
        }
    }
}